<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
    <Type>origin</Type>
    <IP>*</IP>
    <Bind>
        <Providers>
            <RTMP>
                <Port>1935</Port>
                <WorkerCount>1</WorkerCount>
            </RTMP>
            <WebRTC>
                <Signalling>
                    <Port>3333</Port>
                    <TLSPort>3334</TLSPort>
                    <WorkerCount>1</WorkerCount>
                 </Signalling>

                 <IceCandidates>
                    <IceCandidate>*:10000/udp</IceCandidate>
                    <!-- 
                            If you want to stream WebRTC over TCP, specify IP:Port for TURN server.
                            This uses the TURN protocol, which delivers the stream from the built-in TURN server to the player's TURN client over TCP. 
                            For detailed information, refer https://airensoft.gitbook.io/ovenmediaengine/streaming/webrtc-publishing#webrtc-over-tcp
                     -->
                     <TcpRelay>*:3478</TcpRelay>
                     <!-- TcpForce is an option to force the use of TCP rather than UDP in WebRTC streaming. (You can omit ?transport=tcp accordingly.) If <TcpRelay> is not set, playback may fail. -->
                     <TcpForce>true</TcpForce>
                     <TcpRelayWorkerCount>1</TcpRelayWorkerCount>
                 </IceCandidates>
            </WebRTC>
        </Providers>
        <Publishers>
            <WebRTC>
                <Signalling>
                    <Port>3333</Port>
                </Signalling>
                <IceCandidates>
                    <IceCandidate>*:10000-10005/udp</IceCandidate>
                </IceCandidates>
            </WebRTC>
        </Publishers>
    </Bind>
</Server>

