<?xml version="1.0" encoding="UTF-8"?>
<Server version="1.0">
    <VirtualHosts>
        <VirtualHost>
            <Name>default</Name>

            <Applications>

                <Application>
                    <Name>live</Name>

                    <!-- RTMP Ingest -->
                    <Providers>
                        <Provider>
                            <Name>rtmp_provider</Name>
                            <Type>rtmp</Type>
                            <Port>1935</Port>
                        </Provider>
                    </Providers>

                    <!-- WebRTC Playback -->
                    <Publishers>
                        <Publisher>
                            <Name>webrtc_publisher</Name>
                            <Type>webrtc</Type>

                            <Signalling>
                                <Port>3333</Port>
                            </Signalling>

                        </Publisher>
                    </Publishers>

                </Application>

            </Applications>

        </VirtualHost>
    </VirtualHosts>
</Server>

