services:
  cmake-app:
    depends_on:
      ts-receiver:
        condition: service_healthy
    network_mode: service:ts-receiver
    environment:
      - ROLE=receiver

  ts-receiver:
      build:
        context: .
        dockerfile: tailscale.Dockerfile
      hostname: receiver
      network_mode: host
      extra_hosts:
      - "headscale.local:${HEADSCALE_TAILNET}"
      environment:
        #- TS_TAILSCALED_EXTRA_ARGS=--tun=tailscale-receiver --state=/var/lib/tailscale/tailscaled.state
        - TS_AUTHKEY=${HEADSCALE_AUTHKEY}
        - TS_EXTRA_ARGS=--login-server=https://headscale.local:443 --advertise-tags=${HEADSCALE_TAG} --accept-routes --accept-dns
          #- TS_USERSPACE=false
      cap_add:
        - NET_ADMIN
        - NET_RAW
      volumes:
        - tailscale-receiver:/var/lib/tailscale
      devices:
        - /dev/net/tun:/dev/net/tun
      healthcheck:
        test: ["CMD", "tailscale", "status", "--active"]
        interval: 10s
        timeout: 5s
        retries: 3
        start_period: 10s

      restart: unless-stopped

volumes:
  tailscale-receiver:
