services:
  cmake-app:
    depends_on:
      ts-sender:
        condition: service_healthy
    network_mode: service:ts-sender
    environment:
      - ROLE=sender


  ts-sender:
    build:
      context: .
      dockerfile: tailscale.Dockerfile
    hostname: sender
    network_mode: host
    extra_hosts:
      - "headscale.local:${HEADSCALE_TAILNET}"
    environment:
      #- TAILSCALED_EXTRA_ARGS=--tun=tailscale-sender --state=/var/lib/tailscale/tailscaled.state
      - TS_USERSPACE=false
      - TS_AUTHKEY=${HEADSCALE_AUTHKEY}  # Use your Headscale pre-auth key
      - TS_EXTRA_ARGS=--login-server=https://headscale.local:443 --advertise-tags=${HEADSCALE_TAG} --accept-routes --accept-dns
    volumes:
      - tailscale-sender:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - NET_RAW
    healthcheck:
      test: ["CMD", "tailscale", "status", "--active"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

volumes:
  tailscale-sender:
